<div class="d-flex justify-content-between align-items-center mb-4">
  <h1>Recetas</h1>
  <% if can? :create, Recipe %>
    <%= link_to "Nueva receta", new_recipe_path, class: "btn btn-success" %>
  <% end %>
</div>

<div id="recipes" class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Tiempo de cocción</th>
        <th>Dificultad</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to recipe.title, recipe %></td>
          <td><%= recipe.cook_time %> mins</td>
          <td><%= recipe.difficulty %></td>
          <td class="text-nowrap">
            <%= link_to "Ver", recipe, class: "btn btn-sm btn-info" %>
            <% if can? :update, recipe %>
              <%= link_to "Editar", edit_recipe_path(recipe), class: "btn btn-sm btn-secondary ms-1" %>
            <% end %>
            <% if can? :destroy, recipe %>
              <%= link_to "Eliminar", recipe, data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-sm btn-danger ms-1" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>